@model SiparisEnt.Dto.ProductVM.ProductModel
@{
    ViewBag.Title = "Add";
}

<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/Home">Ana SAYFA</a>
            </li>

            <li>
                <a href="/Product">Ürünler</a>
            </li>
            <li class="active">Yeni Ürün & Stok Kartı</li>
        </ul><!-- /.breadcrumb -->

        <div>


        </div>
    </div>

    <div class="page-content">

        <a href="javascript:window.history.back();" style="margin-bottom: 10px" class="btn btn-danger pull-right"><i class="fa fa-chevron-circle-left"></i> Geri Dön</a>



        <div class="row">
            <div class="col-xs-12">

                @Html.Partial("_AddUpdateProduct", Model)

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>

@section Scripts
{
 
   
}

