
@{
    ViewBag.Title = "List";
}



<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/Home">Ana SAYFA</a>
            </li>

            <li class="active">Müşteri İlişkileri</li>
        </ul><!-- /.breadcrumb -->

        <div>


        </div>
    </div>

    <div class="page-content">

        <a href="javascript:window.history.back();" style="margin-bottom: 10px" class="btn btn-danger pull-right"><i class="fa fa-chevron-circle-left"></i> Geri Dön</a>
        <a href="/CustomerCrm/Add" style="margin-bottom: 10px;margin-right: 5px" class="btn btn-info pull-right"><i class="fa fa-plus-circle"></i> Yeni Oluştur</a>


        <div class="row">
            <div class="col-xs-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#search">
                                <i class="green ace-icon glyphicon glyphicon-search"></i>
                                Arama
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="search" class="tab-pane fade in active">

                           
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label no-padding-right">Müşteri</label>

                                        <div class="col-sm-3">
                                            <div class="input-group">
                                            <input class="form-control"/>

                                                <span class="input-group-addon"><i class="fa fa-comment-o"></i></span>
                                            </div>
                                        </div>

                                        <label class="col-sm-1 control-label no-padding-right">Personel </label>

                                        <div class="col-sm-3">
                                            <div class="input-group">
                                                <input class="form-control"/>

                                                <span class="input-group-addon"><i class="fa fa-comment-o"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="submit" class="btn btn-primary btn-sm pull-left"><i class="glyphicon glyphicon-search"></i> Arama</button>
                                        </div>
                                    </div>
                                </div>
                         

                        </div>
                    </div>


                    <div id="productlist">
                     
                    </div>

                </div>


            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div>