@model SiparisEnt.Dto.AccountVM.AccountChangePasswordModel
<div class="modal" id="passwordchangepopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        @using (Ajax.BeginForm("", "", FormMethod.Post, new AjaxOptions { OnSuccess = "passwordchangesucces" }))
        {


            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><i class="ace-icon fa fa-key bigger-120"></i> Şifre Değiştir</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Şifre</label>

                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.Password, new { @type = "password", @class = "form-control", @placeholder = "Şifre" })
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                                </div>
                                <span class="help-block">@Html.ValidationMessageFor(x => x.Password)</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right">Tekrar Şifre</label>

                            <div class="col-sm-10">
                                <div class="input-group">
                                    @Html.TextBoxFor(x => x.ChangePassword, new { @type = "password", @class = "form-control", @placeholder = "Tekrar Şifre" })
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                                </div>
                                <span class="help-block">@Html.ValidationMessageFor(x => x.ChangePassword)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Değiştir</button>
                </div>
            </div>

        }
    </div>
</div>